
/*OVERLAY*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    position:relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    align-content:center;
}
.overlay-content > div{
    flex: 1 1 200px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

.overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        left: 35px;
    }
}
/*SHOP ITEMS*/
.shopItem{
    background-color: white;
    margin:25px;
    cursor: pointer;
    height: 10vh;
    width: 10vh;
}
/*SHOP BUTTON*/
.shopButton {
    height: 0.1vh;
    position: absolute;
    cursor: pointer;
    font-size:50px;
}
/*MAIN CLICKER BUTTON*/
.center-button {
    -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    background-color:gold;
    cursor: pointer;
    display: inline-block;
    height:500px;
    width:500px;
}

.h2{
    font-size: 150px;
}
/*CURRENCY DISPLAY*/
#counter{
    font-size: 30px;
}

.currency-display p{
    font-size: 25px;
}

.container{
    /*Flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
