/*BODY */
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    background-color: black;
}


/*OVERLAY*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position:relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin: 5v;
    align-content:center;
}
.overlay-content > div{
    flex: 1 1 200px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

.overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        left: 35px;
    }
}
/*SHOP ITEMS*/
.shopItem{
    background-color: white;
    margin:25px;
    cursor: pointer;
    height: 10vh;
    width: auto;
}
/*SHOP BUTTON*/
.shopButton {
    margin-right: 85%;
    cursor: pointer;
    font-size:50px;
    z-index: 300;
}
/*MAIN CLICKER BUTTON*/
.center-button {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    background-color:#c20a0a;   
    cursor: pointer;
    display: inline-block;
    height:250px;
    width:250px;
    color: white;
    font-weight: bold;
    font-size: 300%;
}
.shopRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.h2{
    font-size: 150px;
}
/*CURRENCY DISPLAY*/
#counter{
    font-size: 30px;
}

.currency-display p{
    font-size: 25px;
}

.container{
    /*Flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
